* {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
}
body {
  font-family: 'Rokkitt', sans-serif;
  margin: 1em;
}
@media all and (min-width: 568px) {
body {
  font-size: 150%;
}
}

@media all and (max-width: 568px) {
body {
  font-size: 200%;
}
}

ul {
  margin: 1em;
}
p {
  margin-bottom:0.5em;
}
table {
  font-family: 'Inconsolata', monospace;
}
.highlighttable {
  font-size: 90%;
  padding: 0.2em;
  background-color: #EEE;
  margin-bottom:0.5em;
  border-radius:6px;
}
.highlight {
  background-color: #EEE;
  padding-left: 0.5em;
}
.linenos {
  color: #BBB;
  border-right: 1px solid black;
  padding-right: 0.2em;
}
.title {
  font-size: 170%;
}
.header {
  margin-bottom: 0.7em;
}
.footer {
  margin-top: 0.7em;
}
