<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Mollerhoj </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <style>
    * {
      font-family: 'Rokkitt', sans-serif;
      margin: 0px;
      padding: 0px;
    }
    body {
      margin: 10px;
      max-width: 860px;
      font-size: 150%;
    }
    .title {
      font-size: 170%;
    }
    .header {
      margin-bottom: 20px;
    }
    .footer {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div id="main">
    
    <div class="header">
      <div class="title">
        <h1>Mollerhoj</h1>
      </div>
      <div class="navigation">
        <a href="/">Home</a></li>
        <a href="/content.html">Content</a></li>
        <a href="/about.html">About</a></li>
        <a href="/contact.html">Contact</a></li>
      </div>
    </div>
 
    <div class="content">
      {{ content }}
    </div>
 
    <div class="footer">
      <p>Jens Dahl Mollerhoj, 2014</p>
    </div>
 
  </div>
</body>
</html>
